/* Estilos CSS aplicados únicamente a los html que contienen monedas, billetes o exonumia */
h1, h2, h3 {/* Colores de encabezados */
  color: var(--text-color);
}
p, img, label {/* Colores de texto (img para los alt) */
  color: var(--text-color-secondary);
}
/* Para solventar problemas al poner títulos dentro de sections */
h1 {
  font-size: x-large;
}
h3 {
  font-size: large;
}
/* Sección principal */
main {/* Contenedor de los artículos */
  display: flex;
  flex-direction: column;
  right: 0;
}
article {/* Artículos con texto e imágenes */
  align-self: center;
  text-align: justify;
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  max-width: 1000px;
}
article > * { /* Todos los elementos dentro de los artículos */
  margin: 0px 20px;
}
article section.imagenes { /* Elemento contenedor de las imágenes */
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}
article section.titulos-estrellas {
  display: flex;
  align-items: center;
  justify-content:space-between
}
article section.titulos-estrellas div.stars {
  position: relative;
  display: flex;
  padding: 1px;
}
article section.titulos-estrellas div.stars img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
}
.valorar {
  display: none;
  position: absolute;
  width: 100%;
  top: 25px;
  text-align: center;
}
.valorar input {
  border: 1px solid var(--text-color);
  background-color: var(--nav-background);
  color: var(--text-color);
  width: 100%;
}
.valorar button {
  border: none;
  padding: 3px;
  border-radius: 10%;
  background-color: var(--text-color);
  color: var(--body-background);
  cursor: pointer;
}
article img { /* Imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  max-width: 45vw;
  max-height: 45vw;
  object-fit: scale-down; /* Esto mantendrá las proporciones de la imagen aunque le hayamos indicado width y height */
}
article p { /* Párrafos */
  margin-top: 10px;
}