/* Estilos CSS aplicados únicamente a los html que contienen monedas, billetes o exonumia */
h1, h2, h3 {/* Colores de encabezados */
  color: var(--text-color);
}
h4, p, img, label, span {/* Colores de texto (img para los alt) */
  color: var(--text-color-secondary);
}
/* Para solventar problemas al poner títulos dentro de sections */
h1 {
  font-size: x-large;
}
h3 {
  font-size: large;
}
/* Sección principal */
main {/* Contenedor de los artículos */
  display: flex;
  flex-direction: column;
  right: 0;
}
article {/* Artículos con texto e imágenes */
  align-self: center;
  text-align: justify;
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  max-width: 1000px;
}
article > * { /* Todos los elementos dentro de los artículos */
  margin: 0px 20px;
}
article p { /* Párrafos */
  margin-top: 10px;
}
article section.imagenes { /* Elemento contenedor de las imágenes de monedas */
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}
article section.titulos-estrellas { /* Elemento contenedor de el h1 y las estrellas de las monedas */
  display: flex;
  align-items: center;
  justify-content:space-between
}
article section.titulos-estrellas div.stars { /* Contenedor de los svg con las estrellas */
  position: relative;
  display: flex;
  padding: 1px;
}
article section.titulos-estrellas div.stars img { /* SVG de las monedas */
  width: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
}
.valorar { /* Clase valorar, aplicada a un div con un input y un botón */
  display: none;
  position: absolute;
  width: 100%;
  top: 25px;
  text-align: center;
}
.valorar input { /* Input numérico */
  border: 1px solid var(--text-color);
  background-color: var(--nav-background);
  color: var(--text-color);
  width: 100%;
}
.valorar button { /* Botón de enviar valoración */
  border: none;
  margin-top: 2px;
  padding: 3px;
  border-radius: 10%;
  background-color: var(--text-color);
  color: var(--body-background);
  cursor: pointer;
}
.valorar button:hover { /* Para que se note que es un elemento pulsable */
  opacity: 0.8;
}
.imagenes > img { /* Imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  max-width: 45vw;
  max-height: 45vw;
  cursor: pointer;
  object-fit: scale-down; /* Esto mantendrá las proporciones de la imagen aunque le hayamos indicado width y height */
}
.imagenes > img:hover { /* Para que se note que es un elemento pulsable */
  opacity: 0.8;
}
/* VISOR EMERGENTE */
.visor { /* Ventana emergente del visor de imágenes */
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.imagen-visor { /* Imagen que se mostrará en el visor */
  display: block;
  align-self: center;
  max-width: 90vw;
  max-height: 90vh;
  object-fit: scale-down;
}
.cerrar { /* Botón de cerrar del visor */
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--text-color);
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
}
.cerrar:hover { /* Para que se note que es un elemento pulsable */
  opacity: 0.8;
}
/* COMENTARIOS */
.comentarios-caja { /* Elemento contenedor de toda la sección de comentarios */
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.comentarios-caja > button { /* Botón para mostrar u ocultar la caja de comentarios */
  cursor: pointer;
  margin: 5px;
  align-self: flex-start;
  width: fit-content;
  padding: 2px;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--body-background);
}
form { /* Todos los formularios de la página: solo hay los de comentar */
  visibility: collapse;
  display: flex;
  flex-direction: column;
  margin: 0px 5px 3px;
}
form > input[type=text], form > textarea { /* Inputs y textareas de dentro del formulario */
  margin: 2px;
  padding: 3px;
  border: 1px solid var(--text-color);
  background-color: var(--nav-background);
  color: var(--text-color-secondary);
  resize: none;
  overflow: hidden;
  font-size: 0.9rem;
}
form > input.invalid, form > textarea.invalid {/* Clase que se da a los input cuando ha fallado la validación */
  border: 1px solid #F68E8470;
}
form > input[type=text]:focus, form > textarea:focus { /* Cuando se va a escribir en los input */
  outline: 3px solid var(--text-color);
}
form > input.invalid:focus, form > textarea.invalid:focus {/* Clase que se da a los input cuando ha fallado la validación cuando se va a escribir en los input */
  outline: 3px solid #f68e84;
}
small {/* Small: usado para mostrar los errores de validación */
  margin: 3px;
  color: #F68E84;
}
form > input[type=button] { /* Botones de enviar comentario */
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  padding: 3px;
  border: none;
  background-color: var(--text-color);
  width: fit-content;
  color: var(--body-background);
  align-self: flex-end;
}
.comentarios-caja button:hover, .comentarios-caja input[type=button]:hover { /* Botones de la caja de comentarios */
  opacity: 0.8;
}
.comentario { /* Un contenedor de un comentario */
  visibility: collapse;
  padding: 5px;
  border-top: 1px solid var(--text-color);
}
.comentario:hover { /* Para resaltar el comentario donde se tenga el ratón puesto */
  background-color: var(--nav-background);
}
@media (min-width: 400px) {/* Para reducir el tamaño del input de nombre de dentro del formulario, si la pantalla es más pequeña que esto se cogerá como valor el 100% */
  form > input[type=text] {
    max-width: 400px;
  }
}